@let data = post();

<a [routerLink]="'/editor/' + data.id + '/edit'">
  <article class="post-entry">
    <header class="entry-header">
      <h2>{{ data.title }}</h2>
    </header>
    <section class="entry-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo
        repellat iusto a veniam aperiam reiciendis consequuntur libero quos?
        Voluptatem!
      </p>
    </section>

    <footer class="entry-footer">
      <span class="meta-item">
        <svg-icon src="icons/calendar.svg"></svg-icon>
        <span>September 6, 2024</span></span
      ><span class="meta-item">
        <svg-icon src="icons/tag.svg"></svg-icon>

        <span class="post-tags"
          ><a href="https://mischavandenburg.com/tags/productivity/"
            >Productivity</a
          ><a href="https://mischavandenburg.com/tags/linux/">Linux</a></span
        ></span
      >
    </footer>
  </article>
</a>
