<article class="post-entry">
  <header class="entry-header">
    <h2>
      Running iCloud Web as a Desktop Application on Arch Linux with Hyprland
    </h2>
  </header>
  <section class="entry-content">
    <p>
      Now that I’m daily driving Arch Linux again, I’ve been thinking about how
      to handle my tasks. I use Apple Reminders because the iWatch functionality
      with Siri is so good. I’ve been thinking of setting up a self-hosted
      solution, but then I would lose the Siri integration. In the meantime, I
      figured I would just try to access Apple Reminders from Linux. Using it
      from the browser worked surprisingly well....
    </p>
  </section>

  <footer class="entry-footer">
    <span class="meta-item">
      <svg-icon src="icons/calendar.svg"></svg-icon>
      <span>September 6, 2024</span></span
    ><span class="meta-item">
      <svg-icon src="icons/tag.svg"></svg-icon>

      <span class="post-tags"
        ><a href="https://mischavandenburg.com/tags/productivity/"
          >Productivity</a
        ><a href="https://mischavandenburg.com/tags/linux/">Linux</a></span
      ></span
    >
  </footer>

  <a
    class="entry-link"
    aria-label="post link to Running iCloud Web as a Desktop Application on Arch Linux with Hyprland"
    href="https://mischavandenburg.com/zet/running-icloud-web-as-a-desktop-application-on-arch-linux-with-hyprland/"
  ></a>
</article>
