<div class="title-wrapper">
  <p class="title">Document Name</p>
  <input class="title-input" [(ngModel)]="title" type="text" />
</div>

<div class="editor-wrapper">
  <div class="editor disable-scrollbars">
    <textarea
      contentEditor
      autofocus
      class="content"
      [spellcheck]="false"
      [(ngModel)]="content"
    ></textarea>
  </div>
  <div class="preview disable-scrollbars">
    <div [innerHTML]="compiledMarkdown()"></div>
  </div>
</div>

<div class="separator"></div>
