// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$blog-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($blog-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($blog-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($blog-theme);
/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind utilities;

:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 960px;
  --main-width: 720px;
  --post-width: 720px;
  --header-height: 60px;
  --footer-height: 80px;
  --radius: 8px;
  --monospace: "Lucida Console", Monaco, "Consolas", monospace;
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --primary-dim: rgb(186, 186, 186);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(123, 124, 124);
  --tertiary-bg: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);
  --link-background-color: #5242746d;
  --link-color: var(--primary);
  --link-hover-color: #876fd6;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--link-hover-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  body {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Helvetica,
      helvetica neue,
      segoe ui,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      open sans,
      sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    word-break: break-word;
    background: var(--theme);
  }

  body:has(.content-editor) {
    overflow: hidden;
  }

  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  table {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a,
  button,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary);
  }

  a {
    text-decoration: none;
  }

  body,
  figure {
    margin: 0;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
